<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">
</head>
<body>
    <header>
        <h2>💡 OnlyDevs</h2>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>© 2025 OnlyDevs - Creando Futuro con Código 🖥️</p>
    </footer>
</body>
</html>
